// variables
$btn-color: #9676ff;
$btn-color--hover: #b39cff;
$btn-text-color: #fff;
$btn-color--clean: #ff7b4d;
$btn-color--hover--clean: #ffa07f;
$btn-text-color--clean: #fff;
$dark-color: #000;
$bg-color:  #dcdcdc;
$gradient-start: #2590ba;
$gradient-midle: #6f86ca;
$gradient-end: #6d4b85;

 nav {
   color: $btn-text-color;
   background-color: $dark-color;
   width: 100%;
   height: 56px;
   line-height: 56px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.banner{
  height: 200px;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, $gradient-start 0%, $gradient-midle 48%, $gradient-end 75%);
}