<div class="container__centered extra-space">
  <h1>{{title}}</h1>
  <p>{{paragraph}}</p>
</div> 
<div class="flex-mult-cols container">
  <div class="container__centered">
    <button type="button" class="button">{{btn01}}
      <span class="button__tooltip">{{tooltip01}}</span>
    </button>
  </div>
 <div class="container__centered">
    <button type="button" class="button button--clean">{{btn02}}
      <span class="button__tooltip">{{tooltip02}}</span>
    </button>
  </div>
</div>
<div class="bottom"></div>
